<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /react-admin/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /react-admin/index.html [L]
</IfModule>