.appContainer {
  display: flex;
  padding: 0px;
  margin: 0px;
  
  /* border: solid 1px black; */
}

.contentWrapper {
    flex: 8;
    padding: 20px;
    height: 100vh;
    margin-top:50px;
    margin-left: 170px;
    transition: 0.3s;
}


.contentWrapper form {
  padding-bottom: 20px;;
}

.LoadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.menu-toggle {
  display: none;
}

.topbarMenuIcon {
  display: none;
}




@media screen and (max-width: 580px) {
  .sidebar {
     left: -170px; 
  }

  .contentWrapper {
    margin-left: 0px;
  }

  .topbarMenuIcon {
    display: block;
    font-size: 30px;
    
  }

  .topbarMenuIcon:hover {
    cursor: pointer;
  }

  .topbarMenuIcon svg {
    vertical-align: top;
  }

  .username {
    display: none;
  }
  
  .userViewHeaderWrappper, .userViewRow {
    display: block !important;
    width: 100%;
    float: left;
  }

  .userViewHeader {
    line-height: 40px;
    float: left;
    font-weight: 700;
  }

  .editButtonWrapper {
    float:left;
    width: 100%;
    margin-bottom:200px;
  }
  
  form {
    float: left;
  }

  .userListAction {
    flex-direction: column;
  }

  .userListAction a {
    height: 35px;
    line-height: 35px;
    margin: auto !important;
}
}